.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 20;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .simple-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  
  .simple-input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }

  .links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  